<ng-container *ngIf="loggedInUser.username === ''">
    <div class="col-lg-4 offset-lg-4" style="margin-top: 204px;">
        <div class="dlt-loader" aria-busy='false' aria-live="polite" aria-label="Loading">
            <div class="dlt-loader--linear dlt-loader__text--below">
                <div class="dlt-loader--linear-indeterminate" role="progressbar"></div>
            </div>
            <div class="dlt-loader__text">
                <span>loading...</span>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="loggedInUser.username !== ''">
    <div class="home-container">
        <div class="heading-container">
            <h3>Welcome, {{loggedInUser.username}}</h3>
        </div>
        <div class="cards-container">
            <div class="dlt-card" aria-label="Swagger" aria-describedby="card-two-title">
                <div class="dlt-card-title">
                    <div class="icon-holder">
                        <i class="dlt-icon-document-with-code"></i>
                    </div>
                    <h3 class="with-icon" id="card-two-title">
                        Swagger documentation
                        <span>&nbsp;</span>
                    </h3>
                </div>
                <div class="dlt-card-content">
                    <p>Learn and create APIs using Swagger.</p>
                </div>
                <div class="dlt-card-actions">
                    <a class="dlt-button dlt-button-icon sm-icon-button" href="https://dyjg8y2810ydh.cloudfront.net/application-simulator_swagger.yaml" target="_blank" aria-label="Download">
                        <i class="dlt-icon-download"></i>
                    </a>
                </div>
            </div>
            <div class="dlt-card" aria-label="Budget allocation" aria-describedby="card-two-title">
                <div class="dlt-card-title">
                    <div class="icon-holder">
                        <i class="dlt-icon-document-with-code"></i>
                    </div>
                    <h3 class="with-icon" id="card-two-title">
                        Postman collection
                        <span>&nbsp;</span>
                    </h3>
                </div>
                <div class="dlt-card-content">
                    <p>Learn and try APIs using Postman.</p>
                </div>
                <div class="dlt-card-actions">
                    <a class="dlt-button dlt-button-icon sm-icon-button" href="https://dyjg8y2810ydh.cloudfront.net/application-simulator_postman-collection.json" target="_blank" aria-label="Download">
                        <i class="dlt-icon-download"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="cards-container">
            <div class="dlt-card">
                <div class="dlt-card-title">
                    <div class="icon-holder">
                        <i class="dlt-icon-folder"></i>
                    </div>
                    <h3 class="with-icon" id="card-two-title">
                        Download dataset
                        <span>&nbsp;</span>
                    </h3>
                </div>
                <div class="dlt-card-content">
                    <p>Download your dataset as a zip file.</p>
                </div>
                <div class="dlt-card-actions">
                    <a class="dlt-button dlt-button-icon sm-icon-button" (click)="downloadDataset()">
                        <i class="dlt-icon-download"></i>
                    </a>
                </div>
            </div>
            <div class="dlt-card">
                <div class="dlt-drag-drop-item sm-drag-drop">
                    <div class="dlt-card-title">
                        <div class="icon-holder">
                            <i class="dlt-icon-folder"></i>
                        </div>
                        <h3 class="with-icon" id="card-two-title">
                            Upload dataset
                            <span>&nbsp;</span>
                        </h3>
                    </div>
                    <div class="dlt-card-content">
                        <div class="dlt-drag-drop-item sm-drag-drop">
                            <div class="drop-zone">
                                <p>Drag and drop file here</p>
                                <p> or </p>
                                <input type="file" class="dlt-file-input" id="dataset-file" accept=".zip" (change)="selectDataset($event)" aria-describedby="file-upload-7-legend file-importer-7-details"/>
                                <label for="dataset-file" class="dlt-button dlt-button-secondary" role="button">Browse file</label>
                            </div>
                        </div>
                        <div class="upload-button">
                            <button class="dlt-button dlt-button-primary" [disabled]="!selectedDatasetFile" (click)="uploadDataset()">Upload</button>
                        </div>                   
                    </div>               
                </div>
            </div>
        </div>
        <div class="cards-container">
            <div class="dlt-card">
                <div class="dlt-card-title">
                    <div class="icon-holder">
                        <i class="dlt-icon-folder"></i>
                    </div>
                    <h3 class="with-icon" id="card-two-title">
                        Reset dataset
                        <span>&nbsp;</span>
                    </h3>
                </div>
                <div class="dlt-card-content">
                    <p>Reset your dataset from the JSON files.</p>
                </div>
                <div class="dlt-card-actions">
                    <button class="dlt-button dlt-button-icon sm-icon-button" [disabled]="disableReset===true" (click)="resetDataset()">
                        <i class="dlt-icon-refresh"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-container>
  
