appsim.cacheManager.name=AppSim
appsim.cache.AppSim.names=Tenants,DatasetNames,Locks
appsim.cache.tenants.name=Tenants
appsim.cache.datasets.name=DatasetNames
appsim.cache.locks.name=Locks
appsim.cache.lock.createRemove.name=CacheCreateRemove
appsim.cache.lock.createRemove.log.level=Info

appsim.extendedsetting.names=watt.server.url.alias.partialMatching
appsim.extendedsetting.watt.server.url.alias.partialMatching=true

appsim.email.api.url=
appsim.email.api.user=
appsim.email.api.password=

appsim.dataset.directory.windows=C:/Users/Public/AppSimData
appsim.dataset.directory.linux=/opt/AppSimData
appsim.dataset.fileSize.limit=500

appsim.data.basePath=./packages/AppSim/resources/data
appsim.data.setNames.filePath=./packages/AppSim/resources/data/dataSetNames.txt
appsim.data.setNames.delimiter=/
appsim.data.entry.id=id

appsim.group.default.name=default_asgroup